
body {
    background-color: rgb(255, 229, 180)
}

header {
    font-size: 5em;

    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgb(58, 91, 160);
    color: rgb(255, 165, 0);
    height: 95px;
}

header span {
    position: absolute;
    left: 150px;
    top:-2px;
}

footer {
    background-color: rgb(31, 70, 144);
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;  
    color: rgb(255, 165, 0);
    font-size: 1.5em;
    position: fixed;
    left:0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

footer p  {
    padding:5px 0;
}
/* All İd are start here*/
#head-logo{
    position: absolute;
    left:20px;
}
#hero-content{

}